<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <include resource="org/springframework/boot/logging/logback/base.xml"/>


  <springProfile name="default, development, test">

    <!-- LOG everything at INFO level -->
    <root level="INFO">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="FILE" />
    </root>

    <logger name="org.springframework" level="INFO" additivity="false">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework.security" level="TRACE" additivity="false">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="FILE" />
    </logger>

    <!-- LOG "de.sybit.schlossgaienhofen*" at TRACE level -->
    <logger name="de.schlossgaienhofen" level="TRACE" additivity="false">
      <appender-ref ref="FILE"/>
      <appender-ref ref="CONSOLE"/>
    </logger>
  </springProfile>

  <springProfile name="production">

    <logger name="de.schlossgaienhofen" level="TRACE" additivity="false">
      <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework.security" level="TRACE" additivity="false">
      <appender-ref ref="CONSOLE" />
      <appender-ref ref="FILE" />
    </logger>

    <root level="WARN">
      <appender-ref ref="FILE"/>
    </root>
  </springProfile>

</configuration>
