[Unit]
Description=Events application
After=syslog.target

[Service]
User=event-manager
ExecStart=/usr/bin/java -jar /opt/events-app/project2019-0.0.1-SNAPSHOT.jar -Dspring.profiles.active=production
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
