[Unit]
Description=Events application
After=syslog.target

[Service]
User=events-app
ExecStart=/path/to/project2019-0.0.1-SNAPSHOT.jar SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
