<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/dependencies :: dependencies">
  <title>AG</title>
</head>
<body>

<div th:replace="includes/navigationbar :: navigationbar"></div>

<div class="container">

  <h1 class="">AG: <span th:if="${event != null}" th:text="${event.title}"></span></h1>
  <h5><span th:utext="${event.summary}"></span></h5>

  <table class="table">
    <tr>
      <td class="col-3"><span><b>Leiter</b></span></td>
      <td><span th:text="${agLeader.firstName}"></span> <span th:text="${agLeader.name}"></span></td>
    </tr>
    <tr>
      <td class="col-3"><span><b>Beschreibung</b></span></td>
      <td><span th:utext="${event.description}"></span></td>
    </tr>
    <tr>
      <td class="col-3"><span><b>Start Datum</b></span></td>
      <td><span th:text="${event.startDate}"></span></td>
    </tr>
    <tr>
      <td class="col-3"><span><b>End Datum</b></span></td>
      <td><span th:text="${event.endDate}"></span></td>
    </tr>
    <tr>
      <td class="col-3"><span><b>Maximale Teilnehmerzahl</b></span></td>
      <td><span th:text="${event.maxParticipants}"></span></td>
    </tr>
  </table>
</div>

<div th:replace="includes/footer :: footer"></div>
<div th:replace="includes/dependenciesfooter :: dependenciesfooter"></div>
</body>
</html>
