<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/dependencies :: dependencies">
  <title>Teilnehmerliste</title>
</head>
<body>
<table class="table">
  <thead>
  <th>Name</th>
  <th>Vorname</th>
  <th>Klasse</th>
  <th>Email</th>
  <th class="d-print-none">Teilnehmer abmelden</th>
  </thead>
  <tbody>
  <tr th:each="oneAttendee : ${allattendeesbyAgId}">
    <td><span th:text="${oneAttendee.getAttendee().getName()}"></span></td>
    <td><span th:text="${oneAttendee.getAttendee().getFirstName()}"></span></td>
    <td></td>
    <td>
      <a th:href="${oneAttendee.getAttendee().getEmail()}">
        <span th:text="${oneAttendee.getAttendee().getEmail()}"></span>
      </a>
    </td>
    <td class="d-print-none">
      <div th:if="!${oneAttendee.id}">
        ✔️ abgemeldet
      </div>
      <div th:if="${oneAttendee.id}">
        <div class="popup btn btn-primary" th:onclick="|openPopup(${oneAttendee.id})|">Abmelden
          <span class="popuptext" th:id="${oneAttendee.id}">
                 <button class="btn btn-outline-danger">Schließen</button><br/> Diesen Teilnehmer abmelden?
       				 <form th:action="@{/event/{eventId}/remove/{attendeeId}(eventId=${eventId}, attendeeId=${oneAttendee.id})}"
                 		   th:method="post">
                 		   <button class="btn btn-primary">Abmelden</button>
                 	 </form>
        	  </span>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<div th:replace="includes/dependenciesfooter :: dependenciesfooter"></div>

<link th:href="@{/css/attendeeliststyle.css}" rel="stylesheet" />

</body>
</html>
