<!DOCTYPE html>

<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta th:replace="includes/dependencies :: dependencies"/>


  <title>Event bearbeiten</title>

</head>

<body>
<div th:replace="includes/navigationbar :: navigationbar"></div>

<div class="container">
  <br>
  <h1> Event bearbeiten </h1>
  <br>

  <form action="#" th:action="@{/ag/create}" th:object="${activityGroup}" method="post">

    <div class="col-md-8">
      <label for="title">Name des Events</label>
      <input id="title" type="text" class="form-control" th:field="*{title}" required></input>
      <br>
    </div>

    <div class="col-md-8">
      <label for="type"> Typ des Events</label>
      <input id="type" type="text" class="form-control" required></input>
      <br>
    </div>

    <div class="col-md-8">
      <label for="agLeader">Name des Leiters</label>
      <input id="agLeader" type="text" class="form-control" th:field="*{agLeader}" required></input>
      <br>
    </div>

    <div class="col-md-8">
      <label for="location">Treffpunkt</label>
      <input id="location" type="text" class="form-control" required></input>
      <br>
    </div>


    <div class="col-md-8">

      <label for="summary">Kurzbeschreibung</label>
      <input id="summary" maxlength="40" class="form-control" th:field="*{summary}"/>
    </div>


    <div class="col-md-8">
      <label for="description">Ausführliche Beschreibung</label>
      <textarea id="description" class="form-control summernote" th:field="*{description}"></textarea>
      <br>
    </div>


    <div class="row col-12">
      <div class="col-md-3">
        <label for="datepickerstart">Startdatum</label>
        <input id="datepickerstart" type="Date" class="form-control" th:field="*{startDate}" required></input>
      </div>

      <div class="col-md-3">
        <label for="datepickerend">Enddatum</label>
        <input id="datepickerend" type="Date" class="form-control" th:field="*{endDate}" required></input>
        <br>
      </div>
    </div>


    <br>
    <div class="col-md-3">
      <button type="submit" class="btn btn-outline-success">speichern</button>
    </div>

  </form>

</div>

<div th:replace="includes/footer :: footer"></div>
<div th:replace="includes/dependenciesfooter :: dependenciesfooter"></div>


<script>

  $(document).ready(function () {
    $(".summernote").summernote({
      height: 300, // set editor height
      minHeight: 200, // set minimum height of editor
      // maxHeight: null, // set maximum height of editor
      focus: false,
      lang: 'de-DE',
      toolbar: [
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['para', ['ul', 'ol']],
        ['insert', ['link', 'table']],
        ['misc', ['undo', 'redo']]
      ],
      hint: {
        match: /:([\-+\w]+)$/,
        search: function (keyword, callback) {
          callback($.grep(emojis, function (item) {
            return item.indexOf(keyword) === 0;
          }));
        },
        template: function (item) {
          var content = emojiUrls[item];
          return '<img src="' + content + '" width="20" /> :' + item + ':';
        },
        content: function (item) {
          var url = emojiUrls[item];
          if (url) {
            return $('<img />').attr('src', url).css('width', 20)[0];
          }
          return '';
        }
      },
      callbacks: {
        onInit: function () {
          $('body > .note-popover').hide();
        }
      }
    });

    $.ajax({
      url: 'https://api.github.com/emojis',
      async: false
    }).then(function (data) {
      window.emojis = Object.keys(data);
      window.emojiUrls = data;
    });
  });
</script>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function () {
    $("#datepickerstart").datepicker();
  });

  $(function () {
    $("#datepickerend").datepicker();
  });
</script>
</body>
</html>
