<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/dependencies :: dependencies">
  <title>Startseite</title>
</head>
<body>

<div th:replace="includes/navigationbar :: navigationbar"></div>

<div class="container">

  <h1>Startseite</h1>

  <p>Willkommen bei der Verwaltung aller Veranstaltungen und AGs unserer Schule.</p>
  <p>Wir sind sicher, es ist auch für Dich etwas interessantes dabei.</p>
  <br>

  <h2>Verfügbare Veranstaltungen und Arbeitsgemeinschaften</h2>

  <table class="table">
    <thead>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>Treffpunkt</th>
    <th>Startdatum</th>
    <th>Enddatum</th>
    <th>Auswählen</th>
    </thead>
    <tbody>
    <tr th:each="oneEvent : ${allEventsActive}">
      <td><a th:href="@{/event/{id}(id=${oneEvent.id})}"><b th:text="${oneEvent.title}"></b></a></td>
      <td><span th:utext="${oneEvent.summary}"></span></td>
      <td><span th:utext="${oneEvent.location}"></span></td>
      <td><span th:utext="${oneEvent.startDate}"></span></td>
      <td><span th:utext="${oneEvent.endDate}"></span></td>
      <td>
        <div th:if="${assignments.get(oneEvent.id)}">
          ✔️ angemeldet
        </div>
        <div th:if="!${assignments.get(oneEvent.id)}">
          <form th:action="@{/event/{id}/assign(id=${oneEvent.id})}" th:method="post">
            <button class="btn btn-primary">anmelden</button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <h2>Entwürfe</h2>

  <table class="table">
    <thead>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>Treffpunkt</th>
    <th>Startdatum</th>
    <th>Enddatum</th>
    <th>Auswählen</th>
    </thead>
    <tbody>
    <tr th:each="oneActivity : ${allEventsInactive}">
      <td><a th:href="@{/ag/{id}(id=${oneActivity.id})}"><b th:text="${oneActivity.title}"></b></a></td>
      <td><span th:utext="${oneActivity.summary}"></span></td>
      <td><span th:utext="${oneActivity.location}"></span></td>
      <td><span th:utext="${oneActivity.startDate}"></span></td>
      <td><span th:utext="${oneActivity.endDate}"></span></td>
      <td>
        <div th:if="${assignments.get(oneActivity.id)}">
          ✔️ angemeldet
        </div>
        <div th:if="!${assignments.get(oneActivity.id)}">
          <form th:action="@{/ag/{id}/assign(id=${oneActivity.id})}" th:method="post">
            <button class="btn btn-primary">anmelden</button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>


  <a th:href="@{/event/create}"> Neue AG anlegen</a>
</div>

<div th:replace="includes/footer :: footer"></div>
<div th:replace="includes/dependenciesfooter :: dependenciesfooter"></div>
</body>
</html>
