<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/dependencies :: dependencies">
  <title>Startseite</title>
</head>
<body>

<div th:replace="includes/navigationbar :: navigationbar"></div>

<div class="container">
  <h1>Hallo</h1>
  <p>Willkommen auf der Startseite!</p>
 
 <br>
<h4> Liste der AGs: </h4>
<br>

  <div th:each="allActivitiesList : ${allActivities}">
  
 <p> Name der AG: <span th:text="${allActivitiesList.name}"></span></p>
 <p> Name des Leiters: <span th:text="${allActivitiesList.agLeader}"></span></p>
 <p> Beschreibung: <span th:text="${allActivitiesList.description}"></span></p>
 <p> Startdatum: <span th:text="${allActivitiesList.startDate}"></span></p>
 <p> Enddatum: <span th:text="${allActivitiesList.endDate}"></span></p>
 <p> marx. Teilnehmerzahl: <span  th:text="${allActivitiesList.maxParticipants}"></span></p>
 <br>   
  </div>


</div>

<div th:replace="includes/footer :: footer"></div>
<div th:replace="includes/dependenciesfooter :: dependenciesfooter"></div>
</body>
</html>
