<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/dependencies :: dependencies">
  <title>Startseite</title>
</head>
<body>

<div th:replace="includes/navigationbar :: navigationbar"></div>

<div class="container">

  <h1>Arbeitsgemeinschaften</h1>

  <p>Willkommen bei der Verwaltung der Arbeitsgemeinschaften (AGs) unserr Schule.</p>
  <p>Wir sind sicher, es ist auch für Dich eine interessante AG dabei.</p>

  <h2>Verfügbare Arbeitsgemeinschaften</h2>

  <table class="table">
    <thead>
    <th>Name</th>
    <th>Beschreibung</th>
    <th>Auswählen</th>
    </thead>
    <tbody>
    <tr th:each="oneActivity : ${allActivityGroupsActive}">
      <td><a th:href="@{/ag/{id}(id=${oneActivity.id})}"><b th:text="${oneActivity.title}"></b></a></td>
      <td><span th:utext="${oneActivity.summary}"></span></td>
      <td>
        <div th:if="${assignments.get(oneActivity.id)}">
          ✔️ angemeldet
        </div>
        <div th:if="!${assignments.get(oneActivity.id)}">
          <form th:action="@{/ag/{id}/assign(id=${oneActivity.id})}" th:method="post">
            <button class="btn btn-primary">anmelden</button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<div th:replace="includes/footer :: footer"></div>
<div th:replace="includes/dependenciesfooter :: dependenciesfooter"></div>
</body>
</html>
