<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/dependencies :: dependencies">
    <title>Berichtsheft Login</title>
</head>
<body class="login h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-md-6 align-self-center">
                <div class="card card_login_custom">
                    <form th:action="@{/login}" method="post">
                        <div class="card-body">
                            <h2 class="card-title text-center card_title_custom_login">Login</h2>
                            <div class="error_message_login" th:if="${param.error}">
                                Benutzername oder Passwort falsch.
                            </div>
                            <div th:if="${param.logout}">
                                Du wurdest erfolgreich ausgeloggt.
                            </div>
                            <div class="form-group">
                                <label class="label_login" for="username">Benutzername</label>
                                <input type="text" class="form-control input_login" name="username"
                                       id="username" placeholder="Benutzername" required>
                            </div>
                            <div class="form-group">
                                <label class="label_login" for="password">Passwort</label>
                                <input type="password" class="form-control input_login" name="password"
                                       id="password" placeholder="Passwort" required>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block btn-lg">Anmelden
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   <div th:replace="includes/dependenciesfooter :: dependenciesfooter"></div>
</body>

</html>


