<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/dependencies :: dependencies">
  <title>Registrieren</title>
</head>

<body class="bg-light">
<div th:replace="includes/navigationbarRegister :: navigationbarRegister"></div>
<div class="container">
  <div class="row">
    <div class="col-md-12 order-md-1">
      <div class="alert alert-danger" id="error" style="display:none;"role="alert">Passwörter stimmen nicht überein.</div>
      <form th:action="@{/login/register}" method="post" th:object="${user}" id="register_form">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">Vorname</label>
            <input type="text" class="form-control" id="firstName" th:field="${user.firstName}" required>
          </div>

          <div class="col-md-6 mb-3">
            <label for="name">Nachname</label>
            <input type="text" class="form-control" id="name" th:field="${user.name}" required>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" th:field="${user.email}"
                 placeholder="Max.Mustermann@example.com" required>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password" th:field="${user.password}" required>
          </div>

          <div class="col-md-6 mb-3">
            <label for="confirmPassword">Passwort bestätigen</label>
            <input type="password" class="form-control" id="confirmPassword">
          </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Registrieren</button>
      </form>
    </div>
  </div>
</div>
<div th:replace="includes/footer :: footer"></div>
<div th:replace="includes/dependenciesfooter :: dependenciesfooter"></div>
</body>
</html>
