<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container-fluid">
    <footer class="fixed-bottom  py-3">
      <div class="row">
        <div class="col-2">
          &copy; 2019 <a href="https://www.schloss-gaienhofen.de">Schloss Gaienhofen</a>
        </div>
        <div class="col-8 text-center">
          Mit ❤️ von Schülern der Abi-Klasse 2019 und Auszubildenden der <a href="https://www.sybit.de">Firma Sybit</a> programmiert.
        </div>
        <div class="col-2 text-right">
          <a href="https://www.schloss-gaienhofen.de/kontakt/impressum/">Impressum</a> |
          <a href="https://www.schloss-gaienhofen.de/kontakt/datenschutzerklaerung/">Datenschutz</a>
        </div>
      </div>
    </footer>
  </div>
</div>
