<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">

    <footer class="container py-3">
      <hr>
      <div class="row">
        <div class="col-md-3 col-sm-6 small">
          &copy; 2019 <a href="https://www.schloss-gaienhofen.de">Schloss Gaienhofen</a>
        </div>
        <div class="col-md-6 text-center d-none d-md-block">
          Mit ❤️ von Schülern der Abi-Klasse 2019 und Auszubildenden der <a href="https://www.sybit.de">Firma Sybit</a> programmiert.
        </div>
        <div class="col-md-3 col-sm-6 text-right small">
          <a href="https://www.schloss-gaienhofen.de/kontakt/impressum/">Impressum</a> |
          <a href="https://www.schloss-gaienhofen.de/kontakt/datenschutzerklaerung/">Datenschutz</a>
        </div>
      </div>
    </footer>

</div>
