<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigationbarRegister"
     xmlns:th="http://www.w3.org/1999/xhtml">
  <a class="navbar-brand navbar_logo_custom" th:href="@{/}"><img style="width: 150px" src="/images/logo.png"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>
